/* Typography */

.section {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons i {
	font-size: 3em;
}

.icons img {
	height: 6em;
}

/* Custom Styles */

/* https://material.io/color/#!/?view.left=0&view.right=0&primary.color=303F9F&secondary.color=546E7A */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0;
	text-align: center;
	background: #E8EAF6;
	color: #303F9F;
}

.header {
	font-family: 'IBM Plex Serif', sans-serif;
	font-size: 3.75em;
	letter-spacing: -0.05em;
	/* font-weight: 600; */
}

.content {
	font-size: 1.5rem;
	font-weight: 100;
	font-family: 'Quicksand', sans-serif;
}

.subcontent {
	font-size: 1rem;
	font-weight: 100;
	font-family: 'Quicksand', sans-serif;
}

.icons i, .icon > span {
	padding: 0 1rem;
}

.icons a {
	color: #303F9F;
	text-decoration: none;
}

.icons a svg path {
	fill: #303F9F;
	text-decoration: none;
}

#section2 {
	background: url('../img/bg1.jpg');
	position: relative;
	box-shadow: inset 0 0 0 1000px rgba(48, 63, 159, 0.7);
	margin: 0;
	color: #E8EAF6;
}

#navbar {
	background-color: #303F9F;
	font-family: 'Rubik', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.nav-link {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

#navbar.navbar-shrink {
	padding-top: 0;
	padding-bottom: 0;
}

.align-left-bottom {
	text-align: left;
	padding: 1.75em;
	padding-top: 20em;
}

.align-right-bottom {
	text-align: right;
	padding: 1.75em;
	padding-top: 20em;
}

.hint {
	text-align: center;
	opacity: 0.7;
	padding-top: 5em;
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
}

.align-right {
	text-align: right;
	padding-right: 4rem;
}

.align-left {
	text-align: left;
	padding-left: 4rem;
}