/* Typography */

.section {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons i {
	font-size: 3em;
}

.icons img, svg path {
	height: 1em;
}

/* Custom Styles */

/* https://material.io/color/#!/?view.left=0&view.right=0&primary.color=303F9F&secondary.color=546E7A */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0;
	text-align: center;
	background: #E8EAF6;
	color: #303F9F;
}

.header {
	font-family: 'IBM Plex Serif', serif;
	font-size: 3.75em;
	letter-spacing: -0.05em;
	/* font-weight: 600; */
}

.content {
	font-size: 1.5rem;
	font-weight: 100;
	font-family: 'Quicksand', sans-serif;
}

.subcontent {
	font-size: 1rem;
	font-weight: 100;
	font-family: 'Quicksand', sans-serif;
}

.icons i, .icons span, .icons img {
	padding: 0 1rem;
	fill: #303F9F;
}

.icons a {
	color: #303F9F;
	text-decoration: none;
}

.icons a svg path {
	fill: #303F9F;
	text-decoration: none;
}

.icons a:hover {
	color: #666ad1;
}

#section2 {
	background: url('../img/bg1.jpg');
	position: relative;
	box-shadow: inset 0 0 0 1000px rgba(232, 234, 246, 0.7);
	margin: 0;
	color: rgba(48, 63, 159, 1);
}

#navbar {
	background-color: #303F9F;
	font-family: 'Rubik', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.nav-link {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

#navbar.navbar-shrink {
	padding-top: 0;
	padding-bottom: 0;
}

.align-left-bottom {
	text-align: left;
	padding: 5% 5%;
}

.align-right-bottom {
	text-align: right;
	padding: 5% 5%;
}

.hint {
	text-align: center;
	opacity: 0.7;
	/* padding-top: 5em; */
	padding: 1em;
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.proj-header {
	font-family: 'Crimson Text', serif;
	font-size: 3em;
	letter-spacing: -0.03em;
}

.flex-1 > * {
	flex: 1;
}

.award-list {
	text-align: left;
}

.subcontent > div  p {
	font-weight: bold;
	text-transform: uppercase;
}

.carousel-indicators li {
	background-color: #303f9f80;
}
.carousel-indicators .active {
    background-color: #303F9F;
}

.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    fill: '#303F9F';
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
	fill: '#303F9F';
}
