{% if site.masthead_style == 'dark' %}
  {% assign icon_color = "#ffffff" %}
{% else %}
  {%
assign icon_color = "#24292e" %}
{% endif %}
{% assign content = page.content %}
{% assign posts_total = site.posts | size %}
{% assign user = site.github.owner
%}
{% if page.path contains '_posts' %}
  {% assign page_title = page.title %}
  {%
assign meta_description = page.content | strip_html | strip_newlines |
xml_escape | truncate: 300 %}
{% else %}
  {% assign page_title = user.name %}
  {%
assign meta_description = site.user.bio | strip_html | strip_newlines | xml_escape |
truncate: 300 %}
{% endif %}

<!DOCTYPE html>
<html class="min-height-full">
  <head>
    <meta charset="utf-8"/>
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ meta_description }}"/>
    <meta property="og:title" content="{{ site.user.casual_name }}"/>
    <meta property="og:image" content="{{ site.user.avatar_url }}"/>
    <meta property="og:description" content="{{ meta_description }}"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <link href="{{ "/assets/styles.css" | relative_url }}" rel="stylesheet" type="text/css">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet"/>
    <script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body class="bg-white min-height-full" {% if site.style == 'dark' %} style="background-color: #2f363d !important" {% endif %}></body>
</html>
