---
---

@import url("https://unpkg.com/primer/build/build.css");
@import "highlight-syntax";

// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
}

.bg-gray-dark {
  // background-color: #262c38 !important;
  background-color: #1f2d3b !important;
  // background-color: #16202a !important;
}

.repo-language-color {
  filter: brightness(125%) !important;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  position: relative;
  top: 2px;
  width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1,
  h2,
  h3,
  h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  ul,
  ol {
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul,
  li ol {
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

.min-height-full {
  min-height: 100vh;
}

#mainTab {
  margin-bottom: 0.5em;
}

.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}

.bold {
  font-weight: 550;
}

.row.exp-card {
  margin-left: 0;
  margin-right: 0;
}

.exp-card p {
  margin-top: 0;
  margin-bottom: 0;
}

.cards {
  margin-bottom: 0.3em;
}

.chevron {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}

.exp-card .card {
  margin-top: 1rem;
}

svg.hide {
  height: 0;
  width: 0;
}

.course-card {
  // max-width: 17em;
  // margin: 0.5em;
  // padding: 0.5em;
  border-radius: 2px;
  background-color: #fff;
  color: #666;
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: stretch;
}

.course-card-footer {
  margin-top: 0.25em;
  padding-top: 0.25em;
  border-top: 1px solid #ccc;
  font-size: 0.8em;
  justify-content: space-between;
}

.course-card span.badge {
  margin-top: auto;
  margin-bottom: auto;
}
